*venv/*
*static/Data/*
*metadata.txt*
*notes.md*
*static/Model/*
*quick.py*
*jpgToMha.py*
*myimage.jpg*
*Data/*
*static/placeholder_images/test_jpg*
*static/placeholder_images/testimages*
*flask_monitoringdashboard.db*
