body{
  background-color:#252729;
  margin:0;
  overflow-x: hidden;
}


button{
width:150px;
height:45px;
background-color:#022a52;
font-size:20px;
padding: 4px;
color:gray;
vertical-align: top;
outline: gray 3px solid;
float:left;
}
#homeButton{
  position:absolute;
  top:3px;
  left:3px;

}
#button{

}
#button2{
  float:right;
}
.container{
  width:100%;
}
.row{
  float:left;
  width:50%;
}
.col1{
  float: left;
  height:50%;
  width:100%;
  margin-top: 50px;
  margin-left: 50px;

}
.col2{
  float: left;
  height:50%;
  width:100%;
  margin-top: 50px;
  margin-left: 50px;

}
.row2{
  width:50%;

  float:right;
}
.anomaly{
  width:40%;
  float:left;
  margin-right:3px;
  display:none;
}
.textBox_container {
  width: 320px;
  float:left;
  margin-right:3px;
  display:block;
}
#res_btn, #desc_btn{
  width:100%
}
.result_div, .describtion_div{
  margin-top: 3rem;
  height:250px;
  width:100%;
  display:block;
  overflow-y:scroll;
}
i{
  align:center;
  float:right;
}
#Canvasplanes{
  float:right;
  margin-right: 24.26%;
}
#imgCanvas{

}
.nav-bar{
  overflow: hidden;
  background-color: #022a52;

}
.nav-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav-bar a.home {
  background-color: #022a52;
  border: solid;
  color: gray;
}
p{
  font-size: 26px;
  margin-top: 15px;
  margin-left: 5px;
  color:gray;
}
h3{
  margin-left: 5px;
  color:gray;

}
.expert{
  float: left;
  margin-left: 40px;
}
.result_div input, .anomaly input{
  width: 80px;
  float:right;
  margin-right: 10px;
  font-size: 16px;
  text-align: right;
  color:black;
  outline: gray 3px solid;

}

canvas{
  outline: gray 3px solid;

}
img{


}
