.foo {
   float: right;
   /*width: 80px;*/
   height: 30px;
   margin: 0px;
   /*border: 1px solid rgba(0, 0, 0, .2);*/
}
.green {
   background: #40EB16;
}
.red {
   background: #E31919;
}
.yellow {
   background: #F0F00E;
}
.gray {
   background: gray;
}
