<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">



    <title></title>
    <link rel="stylesheet" href="static/CSS/style.css">
    <link rel="stylesheet" href="static/CSS/fontawsome/all.css">

    <script src="static/javascript/jquery-3.5.1.js"></script>
    <script type="text/javascript">
    const FPS = {{fps}};
    const bgImg = new Image(); // Create new img element
    const aImg = new Image();
    const planesImg = new Image();
    bgImg.src = "static/placeholder_images/background_placeholder.png";
    aImg.src = "static/placeholder_images/background_placeholder_analysis.png"
    planesImg.src = "static/placeholder_images/standardplanes.png";
    </script>
    <script src="static/javascript/template_3.js">    </script>
    <script src="static/javascript/socket.io.js">

    </script>
    <script type="text/javascript">


      var socket = io();
      socket.on('connect', function () {
        socket.emit('freeze');

      })
      socket.on('nextimg', function(msg){
        console.log('recieved: '+msg.value);
        change(msg);
        setTimeout(function() {
          draw_frozen_image();
        }, 100);
      })

      function disconnect(){
        socket.disconnect();
      }
    </script>

  </head>
  <body>
    <div class="nav-bar">
      <a class="home" href="/" onclick="disconnect()">Home</a>
    </div>
  <div class="container">
      <div class="row" id="row">
        <div class="col1">
          <div class="col-lg-8  offset-lg-2">
              <canvas id="imgCanvas" height="480px" width="640px"></canvas>

              <img id="frozen"src="" hidden>
              <img id ="mask"src="static\image-from-rawpixel-id-2343269-png.png" hidden>
              <!--<img src="" id="canImg">-->
              <!--<canvas id="canvas"></canvas>-->
              <!--<canvas id="canvas_draw" ></canvas>-->
              <canvas id="socketCanvas" hidden></canvas>

          </div>
        </div>
        <div class="col2">



          <p class="expert"><b>Expert mode:</b><input type="checkbox" id="expert" name="expert"></p>

          <canvas id="Canvasplanes" width="300" height="300"></canvas>
        </div>
      </div>
      <div class="row" id="row2">
        <div class="col1">
          <canvas id="canvas_draw" height="480px" width="640px"></canvas>
          <!--<button type="button" id="button2" name="button2" onclick="applyMask()" >Apply Mask</button>-->
        </div>

        <div class="col2">
          <div id="anomaly" class="anomaly">
            <p><b>Anomaly:</b><input type="text" name="" value="None" id="anomaly"disabled></p>

          </div>
          <div id="res_box"class="textBox_container">
            <button type="button" name="button" id="res_btn" onclick="show_hide(0)">Hide results <i class="fa-solid fa-minus"></i></button>
            <div class="result_div" id="res_div">
            <h3 class="res">Results:</h3>
            <p><b>Image Quality:</b><input type="text" name="" id="imgQ" value="" style="background-color:#F75151;" disabled></p>
            <p><b>Detection label</b><input type="text" name="" value="" id="SS" disabled></p>
            <p><b>Abdominal planes:</b><input type="text" name="" id="abdom" value="97%" disabled></p>
            <p><b>Head detected:</b><input type="text" name="" value="17%" id="headD" disabled></p>
            <p><b>Confidence:</b><input type="text" name="" value="58%" id="SD"disabled></p>
            <p><b>Anomaly:</b><input type="text" name="" value="None" id="anomaly"disabled></p>
          </div>

          </div>
          <div id="desc_box" class="textBox_container">
            <button type="button" name="button" id="desc_btn" onclick="show_hide(1)">Hide results <i class="fa-solid fa-minus"></i></i></button>
            <div class="describtion_div" id="desc_div">
            <h3 class="res">Describing text:</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            </div>
          </div>
        </div>
      </div>

  </div>

</body>



</html>
