<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">



    <title></title>
    <!--<link rel="stylesheet" href="static/CSS/style.css">-->
    <script src="static/javascript/jquery-3.5.1.js"></script>

    <link rel="stylesheet" href="static/CSS/fontawsome/all.css">
    <link rel="stylesheet" href="static/CSS/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="static/CSS/Template3.css">
    <script src="static/CSS/bootstrap/js/bootstrap.js">

    </script>
    <script type="text/javascript">
    const bgImg = new Image(); // Create new img element
    const aImg = new Image();
    const planesImg = new Image();
    bgImg.src = "static/placeholder_images/background_placeholder.png";
    aImg.src = "static/placeholder_images/background_placeholder_analysis.png"
    planesImg.src = "static/placeholder_images/standardplanes.png";
    </script>
    <script src="static/javascript/template_3.js">    </script>
    <script src="static/javascript/socket.io.js">

    </script>
    <script type="text/javascript">
      var frozen = new Image()

      var socket = io();
      socket.on('connect', function () {
        socket.emit('freeze');

      })
      socket.on('nextimg', function(msg){
        console.log('recieved: '+msg.value);
        change(msg);
        setTimeout(function() {
          draw_frozen_image();
        }, 100);
      })

      function disconnect(){
        socket.disconnect();
      }
    </script>

  </head>
  <body class="bg-dark">
    <nav class="navbar navbar-dark bg-secondary">

      <a class="navbar-brand" href="/" onclick="disconnect()">Home</a>
    </nav>
    <br>
  <div class="container-fluid " >
      <div class="row">
        <div class="col d-flex justify-content-center">

              <canvas id="imgCanvas" width="640px" height="480px"></canvas>

              <img id ="mask"src="static/placeholder_images/image-from-rawpixel-id-2343269-png.png" hidden>
              <!--<img src="" id="canImg">-->
              <!--<canvas id="canvas"></canvas>-->
              <!--<canvas id="canvas_draw" ></canvas>-->
              <canvas id="socketCanvas" hidden></canvas>

        </div>
        <div class="col ">
          <canvas id="canvas_draw" width="640px" height="480px"></canvas>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">


          <div class="col d-flex justify-content-center">
            <canvas id="Canvasplanes" width="300" height="300"></canvas>
          </div>
          <div class="col d-flex justify-content-center">
            <p class="expert"><b>Expert mode:</b><input type="checkbox" id="expert" name="expert"></p>

          </div>
        </div>
          <!--<button type="button" id="button2" name="button2" onclick="applyMask()" >Apply Mask</button>-->
        </div>

        <div class="col ">
          <div class="row ">


          <div id="res_box"class="col-sm-5"  >
              <div class="card bg-secondary">
                <div class="card-header bg-secondary" id="headingOne">
                  <h5 class="mb-0">
                  <button class="btn btn-secondary" type="button" data-toggle="collapse" id="res_btn" data-target="#res_div" aria-expanded="true" aria-controls="res_div" width="100%">Toggle results</button>
                  </h5>
                </div>
                    <!--<button class="btn btn-secondary"type="button" name="button" id="res_btn" onclick="show_hide(0)">Hide results <i class="fa-solid fa-minus"></i></button>-->
                <div class="result_div collapse multi-collapse " id="res_div">


                  <!--<p><b></b></p><input type="text" name="" id="imgQ" value="" style="background-color:#F75151;" disabled>
                  <p><b>Detection label</b></p><input type="text" name="" value="" id="SS" disabled>
                  <p><b>Abdominal planes:</b></p><input type="text" name="" id="abdom" value="97%" disabled>
                  <p><b>Head detected:</b></p><input type="text" name="" value="17%" id="headD" disabled>
                  <p><b>Confidence:</b></p><input type="text" name="" value="58%" id="SD"disabled>
                  <p><b>Anomaly:</b></p><input type="text" name="" value="None" id="anomaly"disabled>-->
                  <ul class="list-group list-group-flush ">
                    <li class="list-group-item d-flex justify-content-between bg-secondary">Quality:  <div class="foo yellow"></div></li>
                    <li class="list-group-item d-flex justify-content-between bg-secondary">Label:<div class="foo green"></div></li>
                    <li class="list-group-item d-flex justify-content-between bg-secondary">Planes:<div class="foo red"></div></li>
                    <li class="list-group-item d-flex justify-content-between bg-secondary">Confidence:<div class="foo red"></div></li>
                    <li class="list-group-item d-flex justify-content-between bg-secondary">Anomaly:<div class="foo red"></div></li>
                  </ul>
                </div>

            </div>
        </div>
        <div id="desc_box" class="col-sm-5 align-self-start" >
            <div class="card bg-secondary" >
              <div class="card-header bg-secondary" id="headingOne">
                <h5 class="mb-0 ">
                  <button class="btn btn-secondary" type="button" data-toggle="collapse" id="desc_btn" data-target="#desc_div" aria-expanded="false" aria-controls="desc_div">Toggle description</button>
                </h5>
              </div>
            <div class="describtion_div collapse multi-collapse " id="desc_div" style="overflow-y:scroll;max-height:5rem;" >
            <p class="text-justify p-1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.

            </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
  </div>

</body>



</html>
